<nav class="navbar navbar-light bg-light">

  <div class="container container-fluid">
    <a class='navbar-brand' href='/'>Homepage</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    {{#if isLogin}}
    <a class="navbar-collapse" id="navbarSupportedContent">
      <img src="" alt="avatar" style="width: 30px;">
    </a>
  {{else}}
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='btn-login' href='login'>Sign In</a>
        </li>
        <li class='nav-item'>
          <a class='btn-register' href='signup'>Sign Up</a>
        </li>
      </ul>
    </div>
  {{/if}}
  </div>

</nav>